{% load staticfiles %}
<link rel="stylesheet" href="https://api.ludanblog.xyz/static/css/share.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'live2d/assets/waifu.min.css' %}">
    <div class="waifu">
        <div class="waifu-tips" >唔~</div>
        <canvas id="live2d" class="live2d" width="200" height="300"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>
    </div>
<script src="{% static 'live2d/assets/jquery.min.js' %}"></script>
<script src="{% static 'live2d/assets/jquery-ui.min.js' %}"></script>
<script src="{% static 'live2d/assets/waifu-tips.js' %}"></script>
<script src="{% static 'live2d/assets/live2d.js' %}"></script>
<script type="text/javascript">
    live2d_settings['hitokotoAPI'] = '\fghrsh.net';
    live2d_settings['modelId'] = 6;
    live2d_settings['modelTexturesId'] = 4;
    live2d_settings['waifuEdgeSide'] = 'right:30';
    live2d_settings['waifuDraggable'] = 'axis-x';
    live2d_settings['modelAPI'] = 'https://api.ludanblog.xyz/';
    initModel("https://api.ludanblog.xyz/waifu-tips.json");
</script>
