{% extends "title_base.html" %}
{% block title %}{% firstof name name '音乐' %}{% endblock %}
{% block content_class %}col-xs-12 col-sm-9{% endblock %}
{% block content_left %}{% include 'fun_left.html' %}{% endblock %}
{% block fun %}<li class="nav-item active"><a href="{% url 'chat_xiaoi'  %}">小玩意</a></li>{% endblock %}
{% block content %}{% load staticfiles %}
    <div style="margin: 20px;float: right;width: 100%;margin-top: 0px;background-color: white;padding: 10px;border-radius: 5px">
        {% if mp3 %}
            <form action="">
                <div style="width: 100%">
                    <input type="text" name="name" placeholder="输入歌名" style="width: 70%;"
                           value="{% firstof music_dict.name name %}{{ music_dict.singer }}" title="歌名：{% firstof music_dict.name name %}">
                    <select name="website" style="height: 26px;background: black;color: white">
                        {% if website == "tencent" %}
                        <option name="netease" title="网易云" value="netease">网易云</option>
                        <option name="tencent" title="腾讯" selected="selected" value="tencent">腾讯</option>
                        {% else%}
                        <option name="netease" title="网易云" selected="selected" value="netease">网易云</option>
                        <option name="tencent" title="腾讯" value="tencent">腾讯</option>
                        {% endif %}
                    </select>
                    <input type="submit" value="播放" style="width: 10%;background: black;color: white;">
                </div>
            </form><br/>
            <center>
                {% if music_dict.url %}
                    <div>
                        歌名：{{ music_dict.name }}<br/>歌手：{{ music_dict.singer }}<br/>
                        歌曲地址：<a target="_Blank" href="{{ music_dict.url | safe }}">点我下载</a><br/>
                        <img src="{{ music_dict.pic }}"  style="width: 300px;height: 300px" alt="{% firstof music_dict.name name %}"
                             title="{% firstof music_dict.name name %}"/>
                    </div><br/>
                    <video autoplay="autoplay"  controls="controls" loop="loop" style="width: 100%;height: 30px" >
                        <source src="{{ music_dict.url }}" type="audio/mpeg">
                        <source type="">
                        <track kind="subtitles" src="{{ music_dict.lrc }}" srclang="zh" label="Chinese">
                    </video>{% load index %}
                    <a href="{{ music_dict.lrc }}" target="_Blank"><pre>{% requests_get music_dict.lrc %}</pre></a>
                {% endif %}
                <center>
                    <p>接口仅提供学习交流，不能作为商业使用</p>
                    <p>接口官网地址:<a href="https://www.bzqll.com/" target="_blank">https://www.bzqll.com/</a></p>
                </center>
            </center>
        {% else %}
            <form action="">
                <div style="width: 100%">
                    <input type="text" name="url" placeholder="输入要解析的地址" style="width: 88%;" value="{{ url }}">
                    <input type="submit" value="提交解析" style="width: 10%;background: black;color: white;">
                </div>
            </form><br/>
            {% if url %}
            <iframe id="baiyug" scrolling="no" src="http://app.baiyug.cn:2019/vip/index.php?url={{ url }}" marginwidth="0"
                    marginheight="0" hspace="0" vspace="0" frameborder="0" height="600px" width="100%" allowfullscreen="true">
            </iframe>
            {% endif %}
            <center>
                <p>接口仅提供学习交流，不能作为商业使用</p>
                <p>接口官网地址:<a href="http://app.baiyug.cn:2019/" target="_blank">http://app.baiyug.cn:2019/</a></p>
            </center>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
{% endblock %}
{% block style %}
{% endblock %}