<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <a href="{% url 'chat_xiaoi' %}" class="list-group-item">小 i 机器人</a>
        <a href="{% url 'chat_free' %}" class="list-group-item">菲菲机器人</a>
        <a href="{% url 'chat_dandan' %}" class="list-group-item">蛋蛋机器人</a>
        <a href="{% url 'video_vip' %}" class="list-group-item">视频解析</a>
        <a href="{% url 'music' %}" class="list-group-item">音乐解析</a>
        <a href="{% url 'ImageCompression' %}" class="list-group-item">图片压缩</a>
    </div>
</div>