<div id="left-side" class="col-sm-1 col-md-2" style="float: left;">
    <ul class="well nav nav-pills nav-stacked nav-sitemenu hide-sm" style="height: 500px;">
        <li> <a href="{% url 'chat_xiaoi' %}">小 i 机器人</a> </li>
        <li> <a href="{% url 'chat_free' %}">菲菲机器人</a> </li>
        <li> <a href="{% url 'chat_dandan' %}">蛋蛋机器人</a> </li>
        <li> <a href="{% url 'video_vip' %}">视频解析</a> </li>
        <li> <a href="{% url 'music' %}">音乐解析</a> </li>
        <li> <a href="{% url 'ImageCompression' %}">图片压缩</a> </li>
    </ul>
</div>