{% extends "title_base.html"  %}
{% block title %}图片压缩{% endblock %}
{% block content_class %}col-xs-12 col-sm-9{% endblock %}
{% block content_left %}{% include 'fun_left.html' %}{% endblock %}
{% block fun %}<li class="nav-item active"><a href="{% url 'chat_xiaoi'  %}">小玩意</a></li>{% endblock %}
{% block content %}{% load staticfiles %}
    <div style="margin: 20px;float: right;width: 100%;margin-top: 0px;background-color: white;padding: 10px;border-radius: 5px">
        <form action="">
            <div style="width: 100%">
                <input type="text" name="url" placeholder="输入URL" style="width: 85%;"
                       value="{{ url }}" title="歌名：{{ value }}">
                <input type="submit" value="压缩" style="width: 10%;background: black;color: white;">
            </div>
        </form><br/>
        <center>{% if pathUrl %}
            <p>点击图片即可下载或者右键图片另存为</p>
            <a  target="_blank" href="{{ pathUrl }}"><img src="{{ pathUrl }}" width="100%" /></a>{% endif %}
        </center>
    </div>
{% endblock %}