{% extends "title_base.html"  %}
{% block title %}图片压缩{% endblock %}
{% block content_class %}col-xs-12 col-sm-9{% endblock %}
{% block content_left %}{% include 'fun_left.html' %}{% endblock %}
{% block content %}{% load staticfiles %}
    <div style="margin: 20px;float: right;width: 100%;margin-top: 0px;">
        <form action="">
            <div style="width: 100%">
                <input type="text" name="url" placeholder="输入URL" style="width: 75%;" value="{{ url }}" title="歌名：{{ value }}">
                <select name="grade" style="height: 26px;background: black;color: white">
                    {% if grade == 1 %}
                        <option title="低压缩" selected="selected" value="1">低压缩</option>
                        <option title="中压缩" value="2">中压缩</option>
                        <option title="高压缩" value="3">高压缩</option>
                        <option title="无损压缩" value="0">无损压缩</option>
                    {% elif grade == 2%}
                        <option title="低压缩" value="1">低压缩</option>
                        <option title="中压缩" selected="selected" value="2">中压缩</option>
                        <option title="高压缩" value="3">高压缩</option>
                        <option title="无损压缩" value="0">无损压缩</option>
                    {% elif grade == 3%}
                        <option title="低压缩" value="1">低压缩</option>
                        <option title="中压缩" value="2">中压缩</option>
                        <option title="高压缩" selected="selected" value="3">高压缩</option>
                        <option title="无损压缩" value="0">无损压缩</option>
                    {% else %}
                        <option title="低压缩" value="1">低压缩</option>
                        <option title="中压缩" value="2">中压缩</option>
                        <option title="高压缩" value="3">高压缩</option>
                        <option title="无损压缩" selected="selected" value="0">无损压缩</option>
                    {% endif %}
                </select>
                <input type="submit" value="查看" style="width: 10%;background: black;color: white;">
            </div>
        </form><br/>
        <center>
            {% if pathUrl %}
                <p>点击图片即可下载或者右键图片另存为</p>
                <a  target="_blank" href="{{ pathUrl }}"><img src="{{ pathUrl }}" width="100%" /></a>
            {% endif %}
        </center>
    </div>
{% endblock %}
