{% extends "title_base.html"  %}{% load notifications_tags %}
{% block title %}首页{% endblock %}
{% block content_class %}col-xs-12 col-sm-9{% endblock %}
{% block search %}{% endblock %}
{% block index %}<li class="nav-item active"><a href="{% url 'index'  %}">首页</a></li>{% endblock %}
{% block content  %}{% load staticfiles %}
    {% for post in pageInfo %}
        {% if not post.Prohibited  %}
        <div class="well " >
            <a href="{% url 'post'  post.id %}" style="cursor:pointer">
                <span style="font-size: 20px;">{{ post.title }}</span><hr style="margin-top: 10px;margin-bottom: 10px;"/>
            <a href="{% url 'user' post.user.username %}">
                <img src="{{ post.user.avatar }}" width="30px" height="30px" style="border:2px solid;border-radius:10px;"
                     title="{% firstof post.user.get_short_name post.user.get_username %}">
            </a>&ensp;&ensp;在 {{ post.time.str }} <span style="font-size: 12px;">
                [{{ post.time.data }}]</span> 发布&ensp;(阅读{{ post.readnumber }})
            </a>
        </div>
        {% endif %}
    {% endfor %}
    <div class="page-box">
        <div class="pagebar" id="pageBar" style="padding: 0 0 10px;">
            {% if pageInfo.has_previous %}
            <a href="{% url 'index' %}?page={{ pageInfo.previous_page_number }}" class="prev" target="_self"><i></i>上一页</a>
            {% endif %}
            {% for page in pageInfo.paginator.page_range %}
                {% if pageInfo.number == page %}
                    <span class="sel">{{ page }}</span>
                {% else %}
                    <a href="{% url 'index' %}?page={{ page }}" target="_self">{{ page }}</a>
                {% endif %}
            {% endfor %}
            {% if pageInfo.has_next %}
            <a href="{% url 'index' %}?page={{ pageInfo.next_page_number }}" class="next" target="_self">下一页<i></i></a>
            {% endif %}
        </div>
    </div>
{% endblock  %}
{% block content_right %}
    <div class="col-xs-12 col-sm-3" style="font-family: kaiti;text-align: center;">
        <div class="sidebar-module sidebar-module-inset">
                <h4>关于我</h4>
                <p>一个计算机爱好者</p>
                <p>一个苦逼程序猿</p>
        </div>
        <div class="sidebar-module sidebar-module-inset">
            <h4>搜索</h4>
                <input type="text" class="form-control"  name="q" id="searchbar" onkeydown="keyseach(event)">
                <button class="btn btn-primary" type="submit" style="margin-top: 8px;width: 100%;" onclick="search_post()">搜索文章</button>
                <button class="btn btn-primary" type="submit" style="margin-top: 8px;width: 100%;" onclick="bing_search()">必应搜索</button>
                <button class="btn btn-primary" type="submit" style="margin-top: 8px;width: 100%;" onclick="goole_search()">谷歌搜索</button>
        </div>
        <div class="sidebar-module sidebar-module-inset">
            <h4>档案</h4>
            <ol class="list-unstyled">
                {% for post in post_list2 %}
                    <li><a href="date/{{ post.date.year }}/{{ post.date.month }}/{{ post.date.day }}"
                           title="{{ post.date }}">
                        {{ post.date }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div class="sidebar-module sidebar-module-inset">
            <h4>阅读排行榜</h4>
            <ol class="list-unstyled">
                {% for post  in post_read %}
                    <li style="margin: 5px" >
                        <a href="{% url 'post'  post.id %}" style="cursor:pointer;">
                            {{ post.title }}({{ post.readnumber }})
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="sidebar-module sidebar-module-inset">
            <h4>最新评论</h4>
            <ol style="list-style:none;border:1px solid #ff0000;">
                {% for comment  in comment_list %}
                    <li style="margin: 5px;border-bottom: 1px solid black;border-top: 1px solid black;" >
                        <p style="cursor:pointer;">
                            {% if comment.user.get_short_name %}{{ comment.user.get_short_name }}
                            {% else %}{{ comment.user.get_username }}{% endif %}:
                            {{ comment.content }}
                        </p>
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="sidebar-module sidebar-module-inset">
            <h4>友情链接</h4>
            <ol style="list-style:none;">
                <li style="margin: 5px;border: 1px solid #0000ff;">
                    <a href="https://github.com/cang-meng" style="color: #ff00ff"> GitHub </a>
                </li>
                <li style="margin: 5px;border: 1px solid #0000ff;">
                    <a href="http://www.cnblogs.com/canmeng" style="color: #ff00ff"> 博客园</a>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block script %}
{% endblock %}
