{% extends "title_base.html"  %}{% load index %} {# 加载自定义过滤器 #}
{% block title %}{{ post.title }}{% endblock %}{% load staticfiles %}

{% block content  %}
    {% if not post.Prohibited  %}
        {% if post %}
            <div class="well well-sm" >
                <div class="title" style="text-align: center;font-size: 30px">【{{ post.type }}】{{ post.title }}</div><br>
                <div>{{ post.content | safe }}</div><br>
                <div style="padding-left: 5px;">
                    <a  href="javascript:;" onclick="{% if request.user.id %}onLike(){% else %}onLoginError(){% endif %};"
                        title="{% if like %}已{% endif %}点赞" style="text-decoration:none;">
                        {% if like %}
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" id="like" style="color: blue">
                                <span id="num_like">{{ dynamic.dynamic_like }}</span>
                            </span>
                        {% else %}
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" id="like" style="color: black">
                                <span id="num_like">{{ dynamic.dynamic_like }}</span>
                            </span>
                        {% endif %}
                    </a>&ensp;
                    <a  href="javascript:;" onclick="{% if request.user.id %}onCcollection(){% else %}onLoginError(){% endif %};"
                        title="{% if collection %}已{% endif %}收藏" style="text-decoration:none;">
                        {% if collection %}
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true" id="collection" style="color: blue">
                            <span id="num_collection">{{ dynamic.dynamic_collection }}</span>
                            </span>
                        {% else %}
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true" id="collection" style="color: black">
                                <span id="num_collection">{{ dynamic.dynamic_collection }}</span>
                            </span>
                        {% endif %}
                    </a>
                    &ensp;<span class="glyphicon glyphicon-eye-open" aria-hidden="true" style="color: #ff7000">&ensp;{{ post.readnumber }}</span>
                </div><br>
                <div>
                    <a href="{% url 'user' %}?uid={{ post.user.id }}">
                        <img src="{{ post.user.avatar }}" width="30px" height="30px" style="border:2px solid;border-radius:10px;">
                    </a>{% include 'user_attention.html' %}
                    在  <span style="font-size: 12px;">{{ post.time }}</span> 发布
                </div>
            </div>
        {% endif %}
        <div class="well well-sm">
            <h3 style="margin-top: 10px;">评论列表:<span style="font-size: 18px;">({% len comment %}条)</span></h3>
            <div style="margin:10px 0px;padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
            {% if request.user.is_authenticated %}
            <form action="" method="post" id="usrform">
                {% csrf_token %}
    {#            <textarea id="content" name="content">#}
                <textarea id="content" name="content" style="width:100%;height: 80px;font-size: 16px" ></textarea><br>
                <input type="submit" value="发表评论" style="width: 100%;height:30px;">
            </form>
            {% else %}
                <div>你还没登陆，不能评论。<a href="{% url 'login' %}" style="color: blue;">点我去登陆</a></div>
            {% endif %}
            </div>
            {% for comment in pageInfo %}
                {% if not comment.Prohibited %}
                    <div class="comment" style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                        <div style="float: left">
                            <a href="{% url 'user' %}?uid={{ comment.user.id }}" style="margin-right: 10px;">
                                <img src="{{ comment.user.avatar }}" width="40px" height="40px" style="border:2px solid;border-radius:10px;"
                                     title="{% firstof comment.user.get_short_name comment.user.get_username %}">
                            </a>
                        </div>
                        <div style="margin-top: 1%">{{ comment.content | safe }}</div>
                        <div>{{ comment.time }}&ensp;&ensp;<span onclick="swap(open_btn{{ comment.id }})" style="color: blue">回复</span></div>
                        <div style="display: none;" id="open_btn{{ comment.id }}"><br/>
                            {% if request.user.is_authenticated %}
                                <form action="{% url "comment_reply" comment.id %}" method="post" id="usrform">
                                    {% csrf_token %}
                                    <textarea id="content" name="content" style="width:100%;height: 80px;font-size: 16px" ></textarea><br>
                                    <input type="submit" value="回复" style="width: 100%;height:30px;">
                                </form>
                            {% else %}
                                <div>你还没登陆，<a href="{% url 'login' %}" style="color: blue;">点我去登陆</a></div>
                            {% endif %}
                        </div><br>
                        <script>var open_btn{{ comment.id }} = document.getElementById('open_btn{{ comment.id }}');</script>
                        {% if comment.reply %}
                            <div class="comment" style="margin-left: 2%;border: 1px solid #000000; border-radius: 4px;padding: 5px;">
                                {% for reply in comment.reply %}
                                    <div class="comment" style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                                        <div style="float: left">
                                            <a href="{% url 'user' %}?uid={{ reply.user.id }}" style="margin-right: 10px;">
                                                <img src="{{ reply.user.avatar }}" width="40px" height="40px" style="border:2px solid;border-radius:10px;"
                                                     title="{% firstof reply.user.get_short_name reply.user.get_username %}">
                                            </a>
                                        </div>
                                        <div>{{ reply.content | safe }}</div>
                                        <div>{{ reply.time }}&ensp;&ensp;<span onclick="swap(open_reply_btn{{ reply.id }})" style="color: blue">回复</span></div>
                                        <div style="display: none;" id="open_reply_btn{{ reply.id }}"><br/>
                                            {% if request.user.is_authenticated %}
                                                <form action="{% url "comment_reply" comment.id %}?to_user={{ reply.user.id }}&reply_id={{ reply.id }}" method="post" id="usrform">
                                                    {% csrf_token %}
                                                    <textarea id="content" name="content" style="width:100%;height: 80px;font-size: 16px" ></textarea><br>
                                                    <input type="submit" value="回复" style="width: 100%;height:30px;">
                                                </form>
                                            {% else %}
                                                <div>你还没登陆，<a href="{% url 'login' %}" style="color: blue;">点我去登陆</a></div>
                                            {% endif %}
                                        </div><br>
                                        <script>var open_reply_btn{{ reply.id }} = document.getElementById('open_reply_btn{{ reply.id }}');</script>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% else %}<div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;height: 40px;"><div style="float: left;">此评论因为{% if comment.Prohibited %}{{ comment.Prohibited_info }}{% endif %}违规已删除</div></div>{% endif %}
            {% endfor %}
        </div>
        <div class="page-box">
            <div class="pagebar" id="pageBar" style="padding: 0 0 10px;">
                {% if pageInfo.has_previous %}
                <a href="{% url 'post' id %}?page={{ pageInfo.previous_page_number }}" class="prev" target="_self"
                   style="background-color: #8C8C8C"><i></i>上一页</a>
                {% endif %}
                {% for page in pageInfo.paginator.page_range %}
                    {% if pageInfo.number == page %}
                        <span class="sel">{{ page }}</span>
                    {% else %}
                        <a href="{% url 'post' id %}?page={{ page }}" target="_self" style="background-color: #8C8C8C">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                {% if pageInfo.has_next %}
                <a href="{% url 'post' id %}?page={{ pageInfo.next_page_number }}" class="next" target="_self"
                    style="background-color: #8C8C8C">下一页<i></i></a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>本文章因为{% if post.Prohibited %}{{ post.Prohibited_info}}{% endif %}违规已删除</h1>
    {% endif %}
{% endblock  %}
{% block script %}
<script async="async">
    function swap(div) {
        if(div.style.display == 'block'){
            div.style.display = 'none';
        }else {
            div.style.display = 'block';
        }
    }
</script>
<script src="{%  static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script>
    tinymce.init({
        //选择所有textareas标签
        mode : "textareas",
        //方向从左到右
        directionality:'ltr',
        //语言选择中文
        language: "zh_CN",
        //高度为400
        height:400,
        //工具栏上面的补丁按钮
        plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor',
                'codesample',
        ],
        //工具栏的补丁按钮
         toolbar: 'insertfile undo redo | \
         styleselect | \
         bold italic | \
         alignleft aligncenter alignright alignjustify | \
         bullist numlist outdent indent | \
         link image | \
         print preview media fullpage | \
         forecolor backcolor emoticons |\
         codesample fontsizeselect fullscreen',
        //字体大小
        fontsize_formats: '10pt 12pt 14pt 18pt 24pt 36pt',
        //按tab不换行
        nonbreaking_force_tab: true,
    });
</script>
<script async="async">
    function onLike() {
        var like = document.getElementById("like");
        var num_like =document.getElementById("num_like");
        $.ajax({
            url:"/post/like/{{ post.id }}",
            type:"GET",
            async : false,
            success:function(data){
                console.log("response success: ", data["status"],data["message"]);
                if(data["message"] == "点赞成功"){
                    like.style.color='blue';
                    num_like.innerHTML = parseInt(num_like.innerHTML)+1;
                }else{
                    like.style.color='black';
                    if(parseInt(num_like.innerHTML)>0){
                        num_like.innerHTML = parseInt(num_like.innerHTML)-1;
                    }
                }
            },
            error:function(XMLHttpRequest, textStatus) {
                   alert(XMLHttpRequest.status);//状态码
                   alert(XMLHttpRequest.readyState);//状态
                   alert(textStatus);//错误信息
             }
        });
    }
    function onCcollection() {
        var collection = document.getElementById("collection");
        var num_like =document.getElementById("num_collection");
        $.ajax({
            url:"/post/collection/{{ post.id }}",
            type:"GET",
            async : false,
            success:function(data){
                console.log("response success: ", data["status"],data["message"]);
                if(data["message"] == "收藏成功"){
                    collection.style.color='blue';
                    num_like.innerHTML = (parseInt(num_like.innerHTML)+1).toString();
                }else{
                    collection.style.color='black';
                    if(parseInt(num_like.innerHTML)>0){
                        num_like.innerHTML = (parseInt(num_like.innerHTML)-1).toString();
                    }
                }
            },
            error:function(XMLHttpRequest, textStatus) {
                   alert(XMLHttpRequest.status);//状态码
                   alert(XMLHttpRequest.readyState);//状态
                   alert(textStatus);//错误信息
             }
        });
    }
</script>
<script src="{%  static 'js/prism.js' %}"></script>
{% endblock %}
{% block style %}
<link type="text/css" rel="stylesheet" href="{% static "css/prism.css" %}">
{% endblock %}
