<div class="alert alert-block alert-{{ notice.level }}">
{#  <a class="close pull-right" href="{% url 'notifications:mark_as_read' notice.slug %}">#}
{#    <i class="icon-close"></i>glyphicon glyphicon-remove#}
{#    <i class="glyphicon glyphicon-remove"></i>#}
{#  </a>#}

  <a class="close pull-right" href="{% url 'notifications:delete' notice.slug %}">
{#    <i class="icon-close"></i>glyphicon glyphicon-remove#}
    <i class="glyphicon glyphicon-remove"></i>
  </a>

  <h4>
    <i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>
{#  {% firstof notice.actor.get_short_name notice.actor.get_username %}:#}
{#    {{ notice.actor }}#}
    {{ notice.verb }}
    {% if notice.target %}
      of {{ notice.target }}
    {% endif %}
  </h4>
  
  <p>{{ notice.timesince }} ago</p>
  
  <p>{{ notice.description | linebreaksbr }}</p>
  
  <div class="notice-actions">
    {% for action in notice.data.actions %}
      <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
    {% endfor %}
  </div>
</div>