{% extends "title_base.html"  %}
{% block title %}{{ title }}{% endblock %}
{% block content_class %}col-xs-12 col-sm-9{% endblock %}
{% block content_left %}{% include 'manag_home_left.html' %}{% endblock %}
{% block content  %}{% load staticfiles %}
    {% if pageInfo %}
        {% for item in pageInfo %}
            {% if item.is_collection %}
                <a href="{% url 'post' item.post.id %}">
                    <div class="navbar-collapse collapse" style="width: 100%">
                        <div class="form-actions well well-sm" style="font-size: 1.2em;color: blue">
                            标题：【{{ item.post.type }}】{{ item.post.title }}<br/>
                            作者：{% firstof user.get_short_name user.get_username %}<br/>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="navbar-collapse collapse" style="float: left;width: 82%">
            <div class="form-actions well well-sm" style="font-size: 1.2em;color: blue">
                   找不到任何信息
            </div>
        </div>
    {% endif %}
        <div class="page-box" style="width: 80%;float: left;">
            <div class="pagebar" id="pageBar" style="padding: 0 0 10px;">
                {% if pageInfo.has_previous %}
                <a href="{% url 'collection_management' %}?page={{ pageInfo.previous_page_number }}" class="prev" target="_self"
                    style="background-color: #8C8C8C"><i></i>上一页</a>
                {% endif %}
                {% for page in pageInfo.paginator.page_range %}
                    {% if pageInfo.number == page %}
                        <span class="sel">{{ page }}</span>
                    {% else %}
                        <a href="{% url 'collection_management' %}?page={{ page }}" target="_self" style="background-color: #8C8C8C">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                {% if pageInfo.has_next %}
                <a href="{% url 'collection_management' %}?page={{ pageInfo.next_page_number }}" class="next" target="_self"
                    style="background-color: #8C8C8C">下一页<i></i></a>
                {% endif %}
            </div>
        </div>
{% endblock  %}