{% extends "title_base.html"  %}
{% block title %}更换头像{% endblock %}
{% block content_class %}col-xs-12 col-sm-9{% endblock %}
{% block content_left %}{% include 'manag_home_left.html' %}{% endblock %}
{% block content %}
    <div style="width: 100%;float: right;background-color: white;padding: 10px;border-radius: 5px">
        <div style="padding-left: 10px;">
            <div style="margin: 0 20px;">
                <form action="" method="POST" enctype="multipart/form-data" style="margin-bottom: 8px;margin-left: 5px">
                    {% csrf_token %}
                     <div class="page-header"><h2>头像展览板~</h2></div>
                     <a class="btn btn-success upload" placeholder="上传头像" ><p id="show_gt">选择您要上传的头像~</p>
                         <input class="change" id="photo" name="photo" onchange="c()" placeholder="上传头像" required type="file">
                     </a><br/>
                     {% if user.avatar %}
                     <br><img src="{{ user.avatar }}" width="256" height="256">
                     {% endif %}
                     <a class="btn btn-success"><-之前 之后-></a>
                     <img src="{{ user.avatar }}" id='show' width="256" height="256"><br/><br/>
                     <input class="btn btn-primary" id="submit" name="submit" type="submit" value="确认上传">
                </form>
            </div>
        </div>
    </div>
<script type="text/javascript">
    function c () {
        var gt=document.getElementById('show_gt');
        gt.innerText = '已选中图片~'
        var r= new FileReader();
        f=document.getElementById('photo').files[0];
        r.readAsDataURL(f);
        r.onload=function  (e) {
            document.getElementById('show').src=this.result;
        };
    }
</script>
<style  type="text/css">
.upload{padding: 5px 10px;height: 40px;line-height: 30px;position: relative;
    border: 1px solid #999;text-decoration: none;text-align:center;color: #fff;}
.change{position: absolute;overflow: hidden;right: 0;top: 0;opacity: 0;}
</style>
{% endblock %}