{% extends "title_base.html"  %}
{% block title %}{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}{% endblock %}
{% block content_left %}{% include 'manag_home_left.html' %}{% endblock %}
{% block content  %}{% load staticfiles %}
    {# 右边 #}
    <div class="navbar-collapse collapse" style="float: left;width: 82%">
        <div class="form-actions well well-sm" style="height: 80px;">
            <h2 style="margin: 10 0 10 0px;">搜索框</h2>
        </div>
        <div class="form-actions well well-sm" style="font-size: 1.2em;">
            {% if user_on %}
                {% if not collection_list %}
                    {% if not attention_list %}
                        <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">收藏信息为空</div>
                    {% else %}
                        {% for item in attention_list %}
                            <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% if not collection_list %}
                        <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">文章信息为空</div>
                    {% else %}
                        {% for item in collection_list %}
                            <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% else %}
                {% if not user_list and not post_list %}
                    {% if not post_list %}
                        <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">评论信息为空</div>
                    {% else %}
                        {% for item in comment_list %}
                            <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                            </div>
                        {% endfor %}
                    {% endif %}
                {% elif not comment_list and not post_list %}
                    {% if not post_list %}
                        <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">用户信息为空</div>
                    {% else %}
                        {% for item in user_list %}
                            <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                            </div>
                        {% endfor %}
                    {% endif %}
                {% elif not comment_list and not post_list %}
                    {% if not post_list %}
                        <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">用户信息为空</div>
                    {% else %}
                        {% for item in user_list %}
                            <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% if not post_list %}
                        <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">文章信息为空</div>
                    {% else %}
                        {% for item in post_list %}
                            <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                                <div>{{ item.title }}</div>
                                <div>{{ item.time }}</div>
                                <div><a href="{% url 'eidtor' item.id %}" style="color: brown;">文章修改</a></div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock  %}