{% extends "title_base.html"  %}
{% block title %}消息{% endblock %}
{% block message %}
    <li class="nav-item active" style="margin-left: 10px;"  title="消息通知">
        <a href="{% url 'message'  %}">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
            <span style="background-color:#d9534f;color: white;border-radius: 5px;" id="num_mess"></span>
        </a>
    </li>
{% endblock %}
{% block content  %}{% load staticfiles %}
    {% if info %}
        <h1 style="text-align: center;">{{ info }}</h1><br/>
    {% else %}
        <button type="button" class="default btn btn-primary hide-xs" onclick="setread()">
            全部标记已读</button>
        <button type="button" class="btn btn-danger default hide-xs" onclick="delread()">
            删除已读信息</button><hr/>
        {% for message in message_list %}
            <div id="mess" onclick="set({{ message.id }})" style="cursor:pointer">
                <h5>{{ message.type.type_name }}</h5>
                [{{ message.time }}]&ensp;
                {% if not message.view %}<span style="color:blue;" id="mess{{ message.id }}" about="0">
                {% else %}<span style="color:#818181;"  id="mess{{ message.id }}">
                {% endif %}
                {{ message.content}}</span><hr>
            </div>
        {% endfor %}
    {% endif %}
{% endblock  %}
{% block style %}{% endblock %}
{% block script %}
    <script src="{% static "js/ionic.bundle.min.js" %}"></script>
    {% if request.user.id %}
        <script type="text/javascript">
            var mess_array=[];var del_array=[];{% for message in message_list %}
            mess_array.push("{{ message.id }}");{% if message.view %}
            del_array.push("{{ message.id }}");{% endif %}{% endfor %}
            function setread(){
                $.ajax({
                    url:"{% url 'setread' request.user.id  %}",
                    type:"GET",
                    async : true,
                    success:function(data){
                        //console.log("response success: ", data);
                        for(i=0;i<mess_array.length;i++){
                            $('#mess'+mess_array[i]).css('color','#818181');
                        }
                        num();
                    }
                });
            }
            function delread(){
                $.ajax({
                    url:"{% url 'delread' request.user.id  %}",
                    type:"GET",
                    async : true,
                    success:function(data){
                        //console.log("response success: ", data);
                        for(i=0;i<del_array.length;i++){
                            $('#mess'+del_array[i]).parent().remove();
                        }
                        num();
                    }
                });
            }
            function set(id) {
                $.ajax({
                    url:"{% url 'setmess'  %}",
                    type:"GET",
                    data:{'id':id},
                    async : true,
                    success:function(data){
                        $('#mess'+id).css('color','#818181');
                        del_array.push(id);
                        //console.log("response success: ", data);
                        alert('内容：'+data['content']);
                        num();
                    }
                });
            }
        </script>
    {% endif %}
{% endblock %}