{% extends "title_base.html"  %}
{% block title %}用户中心{% endblock %}
{% block content_class %}col-xs-12 col-sm-9{% endblock %}
{% block content_left %}{% include 'manag_home_left.html' %}{% endblock %}
{% block content  %}{% load staticfiles %}
    <div class="col-xs-12 col-sm-12 sidebar-offcanvas">
        <div class="navbar-collapse" style="width: 100%">
            <div class="well well-sm" style="height: 180px;">
                <div style="width: 15%;float: left;">
                    <a href="{% url 'user' %}?uid={{ user.id }}">
                        <img src="{{ user.avatar }}" width="110%" height="110%"
                             style="border:2px solid;border-radius:20%;margin: 14% 14%">
                    </a>
                </div>
                <div style="width: 70%;float: right ; margin-right: 5% ">
                    <h3 style="margin-bottom: 10px;">
                        欢迎，{% firstof user.get_short_name user.get_username %}&ensp;&ensp;&ensp;&ensp;
                        <span style="width: 8%; float: right;font-size: 0.4em;text-align: center">
                            <span>粉丝</span><br>
                            <span>{{ num_fan }}</span>
                        </span><br/>
                        <span style="font-size: 0.6em;color: blue;">
                            登录ip：{{ user.ip }}（{{ user.ipaddress }}）</span>
                    </h3>
                    <div style="margin-bottom: 5px;padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;"><!--
                        <span>
                            <span style="color: blue"> 兴趣:</span>
                            <span style="color: red">{{ profile.interest }}</span>
                        </span>&ensp;&ensp;&ensp;
                        <span>
                            <span style="color: blue">最近目标:</span>
                            <span style="color: red">{{ profile.aims }}</span>
                        </span>&ensp;&ensp;&ensp;<br><br>-->
                        <span>
                            <span style="color: blue">自我介绍:</span>
                            <span style="color: red">{{ profile.self_reprot }}</span>
                        </span>&ensp;&ensp;&ensp;<br><br>
                        <span>
                            <span style="color: blue">座右铭:</span>
                            <span style="color: red">{{ profile.motto }}</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="well well-sm" style="font-size: 1.2em;">
                {% for post in post_list %}
                    <a href="{% url 'post' post.id %}" style="text-decoration: none;">
                        <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                            <div>【{{ post.type }}】{{ post.title }}</div>
                            <div>{{ post.time }}</div>
                            <div><a href="{% url 'eidtor' post.id %}" style="color: brown;">文章修改</a></div>
                        </div>
                    </a>
                {% endfor %}
                {% if not post_list %}
                    <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                        你好没有写过文章，<a href="{% url 'new' %}">点我去写一篇</a>
                    </div>
                {% endif %}
            </div>
            <div class="page-box">
                <div class="pagebar" id="pageBar" style="padding: 0 0 10px;">
                    {% if pageInfo.has_previous %}
                    <a href="{% url 'home' %}?page={{ pageInfo.previous_page_number }}" class="prev" target="_self"
                       style="background-color: #8C8C8C"><i></i>上一页</a>
                    {% endif %}
                    {% for page in pageInfo.paginator.page_range %}
                        {% if pageInfo.number == page %}
                            <span class="sel">{{ page }}</span>
                        {% else %}
                            <a href="{% url 'home' %}?page={{ page }}" target="_self" style="background-color: #8C8C8C">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if pageInfo.has_next %}
                    <a href="{% url 'home' %}?page={{ pageInfo.next_page_number }}" class="next" target="_self"
                        style="background-color: #8C8C8C">下一页<i></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock  %}