{% extends "title_base.html"  %}
{% block title %}注册{% endblock %}
{% block search %}{% endblock %}
{% block content  %}{% load staticfiles %}
    <div style="height: 260px;float: left;margin-right: 200px;margin-bottom: 140px">
        <link type="text/css" rel="stylesheet" href="{% static "css/register.css" %}">
        <div id="unauth_main" class="login-regist" >
            <div class="login-box switch_box" style="width: 400px;">
                <div class="title">用户注册</div>
                <form id="loginForm" class="formBox" action="/user/regist" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input id="J_LoginButton" type="submit" value="立即注册" class="btn btn-primary btn-block" />
                </form>
                <div  class="pass-reglink">已经有账号，<a href="{% url 'login' %}">点击我去登陆</a>
                    <a href="{% url 'findPassword' %}">找回密码</a></div>
            </div>
        </div>
    </div>
    <div style="float: left;margin-bottom: 20px">
        <img src="{% static 'images/views.png' %}" width="680px" height="400px">
    </div>
    <script>
        $(function(){
            {# ajax 刷新验证码 #}
            $('.captcha').click(function(){
                console.log('click');
                    $.getJSON("/captcha/refresh/",
                function(result){
                    $('.captcha').attr('src', result['image_url']);
                    $('#id_captcha_0').val(result['key'])
            });});
            {# ajax动态验证验证码 #}
            $('#id_captcha_1').blur(function(){
                // #id_captcha_1为输入框的id，当该输入框失去焦点就会触发函数
                json_data={
                    // 获取输入框和隐藏字段id_captcha_0的数值
                    'response':$('#id_captcha_1').val(),
                    'hashkey':$('#id_captcha_0').val()
                }
                $.getJSON('/user/ajax_val', json_data, function(data){
                    $('#captcha_status').remove()
                    //status返回1为验证码正确， status返回0为验证码错误， 在输入框的后面写入提示信息
                    if(data['status']){
                        $('#id_captcha_1').after('<span id="captcha_status"style="color:green;">*验证码正确</span>')
                    }else{
                        $('#id_captcha_1').after('<span id="captcha_status" style="color:red;">*验证码错误</span>')
                    }
                });
            });
        })
    </script>
{% endblock  %}
