{% extends "title_base.html"  %}
{% block title %}{% if user_info.first_name %}{{ user_info.first_name }}{% else %}{{ user_info.username }}{% endif %}的主页{% endblock %}
{% block search %}{% endblock %}
{% block content  %}{% load staticfiles %}
    {% if info %}
        <h2 style="text-align: center">{{ info }}</h2>
    {% else %}
        <div class="well well-sm" style="height: 160px">
            <div style="width: 15%;float: left;">
                <img src="{{ user_info.avatar }}" width="90%" height="140px" style="border:2px solid;border-radius:25px;">
            </div>
            <div style="width: 75%;float: left;">
                <h2 style="margin-bottom: 5px;">
                    {% firstof user_info.get_short_name user_info.get_username %}
                    {% include 'user_attention.html' %}
                    <span style="width: 8%; float: right;font-size: 0.4em;text-align: center">
                        <span>粉丝</span><br>
                        <span>{{ num_fan }}</span>
                    </span>
                </h2>
                <div style="margin-bottom: 5px;padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                    <h3 style="margin-bottom: 5px;margin-top: 0;">个人信息：</h3>
                    <span>
                        <span style="color: blue"> 兴趣:</span>
                        <span style="color: red">{{ profile.interest }}</span>
                    </span>&ensp;&ensp;&ensp;
                    <span>
                        <span style="color: blue">最近目标:</span>
                        <span style="color: red">{{ profile.aims }}</span>
                    </span>&ensp;&ensp;&ensp;
                    <span>
                        <span style="color: blue">座右铭:</span>
                        <span style="color: red">{{ profile.motto }}</span>
                    </span>&ensp;&ensp;&ensp;
                    <span>
                        <span style="color: blue">自我介绍:</span>
                        <span style="color: red">{{ profile.self_reprot }}</span>
                    </span>
                </div>
            </div>
            </div>
            <div class="well well-sm" style="font-size: 1.2em;">
            <h2 style="margin-bottom: 5px;">发布过的文章:({{ post_num }}篇)</h2>
            {% for post in pageInfo %}
                <a href="{% url 'post' post.id %}" style="text-decoration: none;">
                    <div style="padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                        <div>{{ post.title }}</div><hr>
                        <div>{{ post.time }}</div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="page-box">
            <div class="pagebar" id="pageBar" style="padding: 0 0 10px;">
                {% if pageInfo.has_previous %}
                <a href="{% url 'user' user.username %}?page={{ pageInfo.previous_page_number }}" class="prev" target="_self"><i></i>上一页</a>
                {% endif %}
                {% for page in pageInfo.paginator.page_range %}
                    {% if pageInfo.number == page %}
                        <span class="sel">{{ page }}</span>
                    {% else %}
                        <a href="{% url 'user' user.username %}?page={{ page }}" target="_self">{{ page }}</a>
                    {% endif %}
                {% endfor %}
                {% if pageInfo.has_next %}
                <a href="{% url 'user' user.username %}?page={{ pageInfo.next_page_number }}" class="next" target="_self">下一页<i></i></a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock  %}
{% block script %}{% endblock  %}