{% extends "title_base.html"  %}
{% block title %}搜索  {% if query %}{{ query }}{% else %}全部 {% endif %} 文章
{% endblock %}{% load staticfiles %}{% block search %}{% endblock %}
{% block content  %}
    <div class=" well well-sm" style="height: 70px">
        <form class="" action="" method="get" style="width: 74%;float: left;margin-top: 8px; margin-right: 3%;" >
            <input type="text" class="form-control" placeholder="搜索文章"  name="q" id="searchbar" value="{{ query }}">
        </form>
    <div style="float: right;width: 22%;">
        <button class="btn btn-primary" type="submit" style="margin-top: 8px;" onclick="search_post()">搜索</button>
        <button class="btn btn-primary" type="submit" style="margin-top: 8px;" onclick="search_user()">搜索用户</button>
        <button class="btn btn-primary" type="submit" style="margin-top: 8px;" onclick="goole_search()">谷歌搜索</button>
    </div>
    </div>
    <div class=" well well-sm">
    {% if show_all %}
        {% if  page.object_list %}
        {% for item in page.object_list %}
            <a href="{% url 'post' item.id %}" class="js_song" target="play" >
            <div style="font-size: 1.2em; margin-bottom: 5px;padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                <div class="songlist__songname">
                    <span class="songlist__songname_txt">标题：{{item.title}}
                    </span>
                </div>
{#                <div class="songlist__album">内容：{{ item.content }}</div>#}
                <div class="songlist__album">时间：{{ item.time }}</div>
                <div class="songlist__artist">作者：{{item.user.username}}</div>
            </div>
            </a>
        {% endfor %}
        {% else %}
            <div style="margin-bottom: 5px;padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                空列表
            </div>
        {% endif %}
    {% else %}
        {# 导入自带高亮功能 #}
        {% load highlight %}
        {% if  page.object_list %}
            {% for item in page.object_list %}
                 <a href="{% url 'post' item.object.id %}" class="js_song" target="play" >
                    <div style="margin-bottom: 5px;padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">
                        <div class="songlist__songname">
                            <span class="songlist__songname_txt">标题：{% highlight item.object.title with query %}
                            </span>{#{% highlight item.object.song_name with query %}#}
                        </div>
                        <div class="songlist__album">内容：{% highlight item.object.content with query %}</div>
                        <div class="songlist__artist">时间：{% highlight item.object.time with query %}</div>
                        <div class="songlist__album">作者：{% highlight item.object.user.username with query %}</div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div style="margin-bottom: 5px;padding: 10px;word-break: break-all;word-wrap: break-word;background-color: #f5f5f5;border: 1px solid #ccc; border-radius: 4px;">找不到关于 {{ query }} 的文章</div>
        {% endif %}
    {% endif %}
    </div>
    {# 分页导航 #}
    <div class="page-box">
    <div class="pagebar" id="pageBar">
    {# 上一页的URL地址 #}
    {% if page.has_previous %}
        {% if query %}
            <a href="{% url 'haystack_post'%}?q={{ query }}&amp;page={{ page.previous_page_number }}" class="prev">上一页</a>
        {% else %}
            <a href="{% url 'haystack_post'%}?page={{ page.previous_page_number }}" class="prev">上一页</a>
        {% endif %}
    {% endif %}
    {# 列出所有的URL地址 #}
    {% for num in page.paginator.page_range %}
        {% if num == page.number %}
            <span class="sel">{{ page.number }}</span>
        {% else %}
            {% if query %}
                <a href="{% url 'haystack_post' %}?q={{ query }}&amp;page={{ num }}" target="_self">{{num}}</a>
            {% else %}
                <a href="{% url 'haystack_post' %}?page={{ num }}" target="_self">{{num}}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    {# 下一页的URL地址 #}
    {% if page.has_next %}
        {% if query %}
            <a href="{% url 'haystack_post' %}?q={{ query }}&amp;page={{ page.next_page_number }}" class="next">下一页</a>
        {% else %}
            <a href="{% url 'haystack_post' %}?page={{ page.next_page_number }}" class="next">下一页</a>
        {% endif %}
    {% endif %}
    </div>
    </div>
{% endblock  %}
{% block script %}{% endblock %}